.env
/env
*_env
.azure

venv
.DS_Store
.idea
.gcloudignore
.git
.venv
.vscode/
__pycache__/
/setup.cfg
venv
.ipynb_checkpoints
*.ipynb
.env
Brewfile.lock.json
.cache
.vs

# Terraform
**/.terraform/*
**/terraform/terraform.tfstate.d
**/.terraform*
# Terraform lock files
*/.terraform.lock.hcl
.terraform.lock.hcl
*.terraform.lock.hcl 

# Data
*.csv
*.xlsx
*.xls
*.pkl
*.parquet
*.zip
*.ods

# outputs
*.pdf
*.jpg
*.png
*.pptx
*.ppt
*.docx
output/

# Rendered presentations
*.html
*_files/
static/
*.pdf

# Docker cache
.build-cache

# Ignore dynaconf secret files
.secrets.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Generated when getting test coverage
.coverage

# Ignore mkdocs site
site/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/themefinder_app.slnx/v18
/.vs/themefinder_app.slnx
/.vs/themefinder_app/CopilotIndices/18.4.105.37992
/.vs/CopilotSnapshots/958AB77BFB18CB4882B63ADE70F2B78C/EA3FB78C9838A941BA9637B169AD843C
/.vs/CopilotSnapshots/958AB77BFB18CB4882B63ADE70F2B78C
/.vs/slnx.sqlite-journal
