name: Release to TestPyPi

on:
  release:
    types: [prereleased]

jobs:
  deploy-test-pypi:
    runs-on: ubuntu-latest
    environment: test-pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write

    steps:
      - uses: actions/checkout@v4

      # Use Python from .python-version for consistency
      - name: Read Python version
        id: read_python_version
        run: echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade poetry
          poetry install

      - name: Extract version from pyproject.toml
        id: extract_version
        run: |
          echo "PACKAGE_VERSION=$(poetry run python -c "import toml; print(toml.load('pyproject.toml')['tool']['poetry']['version'])")" >> $GITHUB_ENV

      - name: Extract tag name
        id: extract_tag
        run: |
          echo "TAG_NAME=${GITHUB_REF_NAME#'v'}" >> $GITHUB_ENV

      - name: Compare tag with version
        run: |
          echo $GITHUB_ENV
          if [ "$TAG_NAME" == "$PACKAGE_VERSION" ]; then
            echo "Tag matches the pyproject.toml version."
          else
            echo "Tag does not match the pyproject.toml version."
            exit 1
          fi

      - name: Install dependencies
        run: |
          poetry install --sync --no-interaction

      - name: Package project
        run: poetry build

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
